Автор материала: Юрий Кашницкий (@yorko в Slack ODS). Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

## <center>Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории).**
Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [3]:
# Ваш код здесь
data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [4]:
# Ваш код здесь
data[data['sex'] == "Female"]["age"].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [5]:
# Ваш код здесь
len(data[data['native-country'] == "Germany"])/len(data['native-country'])

0.004207487485028101

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [6]:
# Ваш код здесь
data[['age','salary']].groupby('salary')['age'].mean()

salary
<=50K    36.783738
>50K     44.249841
Name: age, dtype: float64

In [7]:
data[['age','salary']].groupby('salary')['age'].std()

salary
<=50K    14.020088
>50K     10.519028
Name: age, dtype: float64

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [8]:
# Ваш код здесь
y = data[data['salary']==">50K"]
education_filter = \
(y['education']=="Bachelors") | \
(y['education']=="Prof-school") | \
(y['education']=="Assoc-acdm") | \
(y['education']=="Assoc-voc") | \
(y['education']=="Masters") | \
(y['education']=="Doctorate")

education_filter.all()

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [19]:
# Ваш код здесь
data[['age','race','sex']].groupby(['race','sex']).describe()

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0


                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [23]:
data[data['race']=="Amer-Indian-Eskimo"]['age'].max()

82

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [47]:
# Ваш код здесь
men = data[data['sex']=="Male"]
married_men = men[men['marital-status'].str.startswith("Married")==True]
number_of_single_men = len(men) - len(married_men)

wealthy_men = men[men['salary']==">50K"]
wealthy_married_men = wealthy_men[wealthy_men['marital-status'].str.startswith("Married")==True]
number_of_single_wealthy_men = len(wealthy_men)-len(wealthy_married_men)

proportion_married = len(wealthy_married_men)/len(married_men)
proportion_single = number_of_single_wealthy_men / number_of_single_men

if (proportion_married > proportion_single):
    print("married > single")
else:
    print("single > married")

married > single

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [50]:
# Ваш код здесь
data['hours-per-week'].max()

99

In [51]:
len(data[data['hours-per-week'] == data['hours-per-week'].max()])

85

In [52]:
y = data[data['hours-per-week'] == data['hours-per-week'].max()]
yy = y[y['salary']==">50K"]
len(yy)/len(y)

0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [55]:
# Ваш код здесь
data[['native-country','salary','hours-per-week']].groupby(['native-country','salary']).describe()

                      hours-per-week                                           \
                               count       mean        std   min    25%   50%
native-country salary
?              <=50K           437.0  40.164760  12.817002   1.0  40.00  40.0
               >50K            146.0  45.547945  10.202827   8.0  40.00  40.0
Cambodia       <=50K            12.0  41.416667   3.088346  40.0  40.00  40.0
               >50K              7.0  40.000000   0.000000  40.0  40.00  40.0
Canada         <=50K            82.0  37.914634  13.012056   8.0  32.75  40.0
...                              ...        ...        ...   ...    ...   ...
United-States  >50K           7171.0  45.505369  11.025092   1.0  40.00  40.0
Vietnam        <=50K            62.0  37.193548  12.422664   1.0  40.00  40.0
               >50K              5.0  39.200000   1.788854  36.0  40.00  40.0
Yugoslavia     <=50K            10.0  41.600000  11.305849  20.0  40.00  40.0
               >50K              6.0  49.500000  11.202678  40.0  40.00  46.0


                        75%   max
native-country salary
?              <=50K   45.0  99.0
               >50K    50.0  80.0
Cambodia       <=50K   40.5  50.0
               >50K    40.0  40.0
Canada         <=50K   40.0  70.0
...                     ...   ...
United-States  >50K    50.0  99.0
Vietnam        <=50K   40.0  77.0
               >50K    40.0  40.0
Yugoslavia     <=50K   40.0  66.0
               >50K    58.0  65.0

[82 rows x 8 columns]